#container {
    width: 600px;
    margin: auto;
}
#left {
    width: 160px;
    float: left;
}
#right {
    width: auto;
    clear: left;
    float: left;
}
#pipeline {
    background: #ccc;
    padding: 10px;
    border: 2px solid #999;
    width: auto;
    height: 24px;
    float: right;
    margin: 10px;
    min-width: 160px;
}
#snap {
    float: right;
    width: 150px;
    height: 16px;
    padding: 3px;
    border: 1px dashed grey;
}
#services {
    background: #ffd;
    padding: 10px;
    border: 2px solid #d9d9d9;
    float: left;
}
.clear {
    clear: both;
}
.webservice {
    background: #FFF;
    color: #00A4D1;
    width: 150px;
    height: 16px;
    padding: 3px;
    border: 1px solid #98c;
    font-size: .9em;
    margin: 0px 3px 3px 0px;
}
.debug {
    margin: 0px 0px 10px 0px;
    background: #FFC4C4;
}
.arrow-right {
    background-image: url('http://cdn2.iconfinder.com/data/icons/picol-vector/32/arrow_sans_right-32.png');
    background-repeat:no-repeat;
    background-position: right;
}
